---
layout: page
title: Our Events
permalink: /events/
---

<div id="events-page" class="container-flow">
  <h1 class="page-title">{{ page.title | escape }}</h1>
  {% assign currentDate = site.time | date: '%F' %}  
  <div class="container">

    <h4>
      Upcoming events
    </h4>      
    <div class="section center-align">
      <div class="row">
        {% assign sorted_events = site.events | sort: 'start_date' %}
        {% for event in sorted_events %}
        {% assign eventDate = event.start_date | date: '%F' %}
        {% if eventDate >= currentDate %}
        <div class="col s12 m6 l4">
          <div class="card sticky-action hoverable">
            <div class="card-image">
              <img src="/assets/images/events/{{event.photo-path}}">
              <span class="card-title left-align">{{event.title}}</span>
            </div>
            <div class="card-content left-align">
              <span class="card-title activator">{{event.dates}}<i class="material-icons right">more_vert</i></span>
              <div class="detail-property">
                <strong>Location:</strong> {{event.country}} - {{event.city}}
              </div>
              <div class="detail-property">
                <strong>People:</strong> {{event.event_details.attendees}}
              </div>
            </div>
            <div class="card-reveal left-align">
              <span class="card-title">Details<i class="material-icons right">close</i></span>
              <div class="detail-property">
                <strong>Venue</strong> {{event.event_details.venue}}
              </div>
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Type</strong> {{event.event_details.type}}
              </div>
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Attendees</strong> {{event.event_details.attendees}}
              </div>
              {% if event.client and event.client != "" %}
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Client</strong> {{event.client}}
              </div>
              {% endif %}
              <div class="divider"></div>
              <div class="detail-property">
                {{event.event_details.description}}</br>
              </div>
              <div class="card-action">
                {% if event.event_details.meeting-url and event.event_details.meeting-url != "" %}
                <a target="_blank" href="{{event.event_details.meeting-url}}">Event website</a>
                {% endif %}
                {% if event.event_details.photo-gallery and event.event_details.photo-gallery != "" %}
                <a target="_blank" href="{{event.event_details.photo-gallery}}">Photo gallery</a>
                {% endif %}
              </div>              
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}              
      </div>
    </div>

    <h4>
      Past events
    </h4>
    <div class="section center-align past-events">
      <div class="row">
        {% assign sorted_events = site.events | sort: 'start_date' %}
        {% for event in sorted_events %}
        {% assign eventDate = event.start_date | date: '%F' %}
        {% if eventDate <= currentDate %}
        <div class="col s12 m6 l4">
          <div class="card sticky-action hoverable">
            <div class="card-image">
              <img src="/assets/images/events/{{event.photo-path}}">
              <span class="card-title left-align">{{event.title}}</span>
            </div>
            <div class="card-content left-align">
              <span class="card-title activator">{{event.dates}}<i class="material-icons right">more_vert</i></span>
              <div class="detail-property">
                <strong>Location:</strong> {{event.country}} - {{event.city}}
              </div>
              <div class="detail-property">
                <strong>People:</strong> {{event.event_details.attendees}}
              </div>                            
              <p></p>
            </div>
            <div class="card-reveal left-align">
              <span class="card-title">Details<i class="material-icons right">close</i></span>
              <div class="detail-property">
                <strong>Venue</strong> {{event.event_details.venue}}
              </div>
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Type</strong> {{event.event_details.type}}
              </div>
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Attendees</strong> {{event.event_details.attendees}}
              </div>
              {% if event.client and event.client != "" %}
              <div class="divider"></div>
              <div class="detail-property">
                <strong>Client</strong> {{event.client}}
              </div>
              {% endif %}  
              <div class="divider"></div>
              <div class="detail-property">
                {{event.event_details.description}}</br>
              </div>
              <div class="card-action">
                {% if event.event_details.meeting-url and event.event_details.meeting-url != "" %}
                <a target="_blank" href="{{event.event_details.meeting-url}}">Event website</a>
                {% endif %}
                {% if event.event_details.photo-gallery and event.event_details.photo-gallery != "" %}
                <a target="_blank" href="{{event.event_details.photo-gallery}}">Photo gallery</a>
                {% endif %}
              </div>                
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>  
    </div>

  </div>
</div>
