<footer class="page-footer maximum-blue-green base">
  <div class="container maximum-blue-green-text text-bg">
    <div class="row">
      <div class="col l8 s12">
        <div class="col-content">
          <div class="center-align">
            <div class="brand-logo">
              <img src="{{ "/assets/images/logos/logo_web.png" | relative_url }}" alt="brand-logo">
            </div> 
            <p class="grey-text text-lighten-4">We let you focus on the programme and list of speakers, and we take care of the rest.</p>
            <div class="social">
              <div class="row">
                <!-- <div class="col s3">
                  <a class="" href="https://www.facebook.com/longaro.eu/">
                    <i class="mdi mdi-facebook mdi-24px"></i>
                  </a>
                </div> -->
                <div class="col s3 offset-s3">
                  <a class="" href="https://twitter.com/Scientifika1">
                    <i class="mdi mdi-twitter mdi-24px"></i>
                  </a>
                </div>
                <div class="col s3">
                  <a class="" href="https://www.linkedin.com/company/scientifika/about/">
                    <i class="mdi mdi-linkedin mdi-24px"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 s12">
        <div class="col-content center-align">
          <h5 class="">Billing address</h5>
          <p>
            Dana Cernoskova
            <br /> SCIENTIFIKA
            <br /> Purkynova 91
            <br /> 612 00, Brno           
            <br /> Czech Republic
            <br /> VAT:07773293          
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-lighten-3">
    <div class="container">
      <div>
        <a href="/privacypolicy">Privacy policy</a>
        <span style="text-align: right; float: right">
          Copyright © 2019
          <a href="http://www.scientifika.eu">Scientifika</a>.
        </span>
      </div>
    </div>
  </div>
</footer>
