<footer class="page-footer grey darken-4">
  <div class="container grey-text text-lighten-3">
    <div class="row">
      <div class="col l6 s12">
        <div class="row">
          <div class="col l4 brand-logo">
            <img src="{{ "/assets/images/logos/logo_zelena.png" | relative_url }}" alt="brand-logo">
          </div>          
          <div class="col l8">
            <h5 class="">Longaro.eu</h5>
            <p class="grey-text text-lighten-4">We let you focus on the programme and list of speakers, and we take care of the rest.</p>
          </div>
        </div>

        <div class="social">
          <div class="row">
            <div class="col s3">
              <a class="" href="https://www.facebook.com/longaro.eu/">
                <i class="mdi mdi-facebook mdi-24px"></i>
              </a>
            </div>
            <div class="col s3">
              <a class="" href="#!">
                <i class="mdi mdi-twitter mdi-24px"></i>
              </a>
            </div>
            <div class="col s3">
              <a class="" href="https://www.linkedin.com/company/longaro-eu/">
                <i class="mdi mdi-linkedin mdi-24px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l3 s6">
        <h5 class="">Billing address</h5>
        <p>
          LONGARO s.r.o.
          <br /> Sadová 527/26,
          <br /> 664 41 Troubsko
          <br />
        </p>
      </div>
      <div class="col l3 s6">
        <h5 class="">Invoice Address</h5>
        <p>
          LONGARO s.r.o.
          <br /> Sadová 527/26,
          <br /> 664 41 Troubsko
          <br /> IČ 25321552
          <br /> DIČ CZ25321552
          <br />
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-lighten-3">
    <div class="container">
      <div>
        <a href="privacypolicy/">Privacy policy</a>
        <span style="text-align: right; float: right">
          Copyright © 2018
          <a href="http://www.longaro.it">LONGARO</a>.
        </span>
      </div>
    </div>
  </div>
</footer>
