<div class="navbar-fixed">
    <nav role="navigation" class="z-depth-3">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
                <img src="{{ site.baseurl }}/assets/images/logos/logo_bila.png" alt="brand-logo">
            </a>
        {% assign default_paths = site.mainpages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
    
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ "/" | relative_url }}">Home </a></li>
                <li><a href="/services">Services </a></li>
                <li><a href="/aboutus">About</a></li>
                <li><a href="/consultancypackages">Colsultancy and packages</a></li>                
                <li><a href="/contact">Contact</a></li>                
                <!-- {% if page_paths %}
                    {% for path in page_paths %}
                        {% assign my_page = site.mainpages | where: "path", path | first %}
                        {% if my_page.title %}
                        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %} -->
              </ul>
    
              <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Home</a></li>
                {% if page_paths %}
                    {% for path in page_paths %}
                        {% assign my_page = site.mainpages | where: "path", path | first %}
                        {% if my_page.title %}
                        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
              </ul>        
    
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>