@charset "utf-8";

// Color Matcher https://coolors.co/2cbdb3-ffffff-191308-322a26-000000

$scientifika-blue: #001220;
$scientifika-light-blue: #00acec;
$scientifika-pink: #ce3f92;
$bistre: #322A26;
$licorice: #191308;
$white: #fff;

$palettes: (light: (bg: $scientifika-light-blue, fg: $white, primary: $scientifika-blue, secondary: $bistre, tertiary: $licorice,
),
base: (bg: #000, fg: #fff, primary: #333, secondary: #666, tertiary: #888,
),
);

@import "materialize/materialize",
"longaro/mixins",
"longaro/contact",
"longaro/home",
"longaro/shared",
"longaro/about_us",
"longaro/services",
"longaro/events",
"longaro/header",
"longaro/footer";

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.shadow-demo {
  background-color: $scientifika-blue;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

h1.page-title {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  color: $scientifika-light-blue;
}

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

.collection .collection-item.avatar {
  padding-right: 30px;
}

.last-post {
  padding: 10px 0 15px;
}

.last-post .collection .collection-item.avatar>.date-post {
  position: absolute;
  width: 54px;
  height: 54px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  padding: 16px 0;
  vertical-align: middle;
  background: #ad1457;
  color: #fff;
  text-align: center;
}

.txt-center {
  text-align: center;
}

.post-header h1.post-title {
  color: $scientifika-blue;
  font-size: 2.8em;
  font-weight: 800;
}

.post-header time {
  color: #cacaca;
  font-size: 0.9em;
}

p.rss-subscribe {
  margin: 0;
}

.list-item {
  margin: 0.5em 0;

  .list-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 15px solid $link-color;
    border-left: 15px solid transparent;
  }

  .list-text {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: .0 0 .2rem .2rem;
  }

  .list-subtext {
    font-size: 1.10rem;
    color: $scientifika-blue;
  }
}

.page-container {
  padding: 10px;
}

.main-menu {
  padding-left: 2em;
  padding-right: 2em;
}