@charset "utf-8";


// Color Matcher https://coolors.co/2cbdb3-ffffff-191308-322a26-000000

$longaro-blue: #2cbdb3;
$registration-black: #000000;
$bistre: #322A26;
$licorice: #191308;
$white: #fff;

$palettes: (light: (bg: $registration-black, fg: $white, primary: $longaro-blue, secondary: $bistre, tertiary: $licorice,
),
base: (bg: #000, fg: #fff, primary: #333, secondary: #666, tertiary: #888,
),
);

@import "materialize/materialize",
"longaro/mixins",
"longaro/contact",
"longaro/home",
"longaro/header",
"longaro/footer";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product sans", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.shadow-demo {
  background-color: $longaro-blue;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

h1.page-title {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: $longaro-blue;
}

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

.collection .collection-item.avatar {
  padding-right: 30px;
}

.last-post {
  padding: 10px 0 15px;
}

.last-post .collection .collection-item.avatar>.date-post {
  position: absolute;
  width: 54px;
  height: 54px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  padding: 16px 0;
  vertical-align: middle;
  background: #ad1457;
  color: #fff;
  text-align: center;
}

.txt-center {
  text-align: center;
}

.post-header h1.post-title {
  color: $longaro-blue;
  font-size: 2.8em;
  font-weight: 800;
}

.post-header time {
  color: #cacaca;
  font-size: 0.9em;
}

p.rss-subscribe {
  margin: 0;
}

.list-item {
  margin: 0.5em 0;

  .list-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 20px solid $longaro-blue;
    border-left: 20px solid transparent;
  }

  .list-text {
    margin: 0 1em;
    font-family: "Product sans", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 1em;
  }

  .list-subtext {
    font-size: 1.40rem;
    color: $longaro-blue;
  }
}
