#about-us {
    .world {
        background-image: url('images/home/mapa_velka_EN.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        height: 40rem;
    }
}