#about-us {
    .world {
        background-image: url('images/pages/web_map_blue.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        height: 20rem;
    }
}