#events-page {
    .card {
        .card-image{
            img {
                filter: blur(0.8px) brightness(40%);
            }
        }
        .card-title {
            font-size: 1.2em;
            font-weight: normal;
        }
    }
    .past-events {
        .card {
            background-color: $highlight-color;

            .card-title {
                color: $highlight-color;
            }
        }
    }
}