.page-footer {
    .brand-logo {
        img {
            max-width: 19em;
        }
    }
    .social {
        width:50%;
    }

    .col-content {
        margin: 0.4em;
        font-size: 1em;
    }
}