.page-footer {
    .brand-logo {
        margin-top: 1.55em;

        img {
            max-width: 50%;
        }
        @media #{$medium-and-down} {
            img {
                max-width: 80%;
            }
        }        
    }
    .social {
        width:50%;
    }

    .col-content {
        margin: 0.4em;
        font-size: 1em;
    }
}