#slider-home {
  background: $secondary-color;
  .slides {
    background: $secondary-color;
    img {
      // -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      opacity: 0.55;
      // filter: grayscale(100%);
    }
  }

  .indicators {
    background-color: $secondary-color;
    .active {
      background-color: $longaro-blue;
    }
  }
}

#home-panes {

  #home-about-us {
    .world {
      min-width: 350px;
      background-image: url('images/home/mapa_velka_EN.png');
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 115%;
      height: 25em;
    }

    .row {
      margin: 0;

      .leyend {
        margin: 1em 0em;
        padding: 0 3em;
      }
    }
  }

  .section {
    padding: 4em 0;
  }

  .icon-block {
    padding: 1em 1em;
    .icon {
      img {
        max-width: 8em;
      }
    }
  }

  #home-what-we-do {

    strong {
      color: $longaro-blue;
    }

    .list-item {
      margin: 0.5em 0;

      .list-triangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 20px solid $longaro-blue;
        border-left: 20px solid transparent;
      }

      .list-text {
        margin: 0 1em;
        font-family: "Product sans","Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;        
        display: inline-block;
        font-size: 1.64rem;
        line-height: 110%;
        margin: .82rem 0 .656rem 1em;
      }
    }

  }
}