#slider-home {
  background: $scientifika-blue;

  .title {
    color: $link-color;
  }

  .slides {
    background: $scientifika-blue;

    img {
      // -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      opacity: 0.65;
      // filter: grayscale(100%);
    }
  }

  .indicators {
    background-color: $scientifika-blue;

    .active {
      background-color: $link-color;
    }
  }
}

#landing-page {

  .section-title {
    color: $scientifika-light-blue;
  }

  .body-text {
    margin: 0 0 1em 0;
    font-size: 1.3rem;
    font-weight: normal;
  }

  #home-about-us {
    .world {
      min-width: 350px;
      background-image: url('images/pages/bulb_blue.png');
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 115%;
      height: 34rem;
    }

    .row {
      margin: 0;

      .leyend {
        margin: 1em 0em;
        padding: 0 3em;
      }
    }
  }

  .section {
    padding: 4em 0;
  }

  .icon-block {
    padding: 1em 1em;

    .icon {
      img {
        max-height: 4em;
      }
    }
  }

  #home-services {
    .col.m6 > .btn {
      width: 100%;
    }
  }

  #home-what-we-do {
    .row {
      margin: 0;
      padding: 0 5em;
    }
    .list {
      margin: 1.5em 0;
    }
    strong {
      color: $scientifika-blue;
    }
    .light-bulb {
      min-width: 350px;
      background-image: url('images/home/zarovka_zelena.jpg');
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 115%;
      height: 40em;
    }
  }
}
