<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
  <div class="navbar-fixed">
    <nav role="navigation" class="z-depth-3">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
          <img src="{{ site.baseurl }}/assets/images/logos/logo_web.png" alt="brand-logo">
        </a>
        {% assign default_paths = site.mainpages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

        <ul class="right hide-on-med-and-down grey-text text-darken-3">
          <li><a href="{{ "/" | relative_url }}">Home </a></li>
          <li><a href="#home-services">Services </a></li>          
          <li><a href="#home-about-us">About </a></li>
          <li><a href="#home-what-we-do">Consultancy Packages </a></li>
          <li><a href="#contact-section">Contact </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/">Home</a></li>
          {% if page_paths %}
          {% for path in page_paths %}
          {% assign my_page = site.mainpages | where: "path", path | first %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          <li><a href="/contact/">Contact Us</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <main id="landing-page">
    <div class="no-pad-bot" id="index-banner">
      <div class="container-flow">
        <div id="slider-home" class="slider">
          <ul class="slides">
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide1.jpg">
              <div class="caption left-align">
                <h3 class="title">EVENTS FOR SCIENCE</h3>
              </div>
            </li>
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide2.jpg">
              <div class="caption left-align">
                <h3 class="title">Event Management for different sizes and kinds of events across Europe</h3>
                <h5>PR & Marketing for researchers.</h5>
              </div>
            </li>
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide3.jpg">
              <div class="caption left-align">
                <h3 class="title">Digital Marketing and services</h3>
                <h5>Design and development of digital applications.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-flow maximum-blue-green base">
      
      <div id="home-services" class="container-flow maximum-blue-green bg">
        <div class="container maximum-blue-green-text text-base">
          <div class="section center-align">
            <h3 class="section-title">SERVICES</h3>
            <h4>Focus on scientific research and development.</h4>
            <div class="body-text">We are not interested in birthday parties and incentive meetings. We organise high-level scientific
              events, such
              as conferences, workshops, seminars, hackathons or colloquia. Our clients are:</div>
            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/finance.png" | relative_url }}" alt="">
                  </div>
                  <div class="body-text left-align">Senior researchers (PIs or Group Leaders) who organise conferences for research
                    projects</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/building.png" | relative_url }}" alt="">
                  </div>
                  <div class="body-text left-align">Institutions applying for hosting large international conferences</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/science.png" | relative_url }}" alt="">
                  </div>
                  <div class="body-text left-align">Researchers with an idea for a new event but with limited funding</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col m6">
                <a class="maximum-blue-green hl waves-effect waves-light btn maximum-blue-green-text text-bg" href="services">More  <i class="mdi mdi-information-variant mdi-16px"></i></a>
              </div>
              <div class="col m6">
                <a class="maximum-blue-green hl waves-effect waves-light btn maximum-blue-green-text text-bg" target="_blank" href="https://issuu.com/longaro/docs/210x210_brozura_longaro_new_en_web">Brochure  <i class="mdi mdi-book-open-page-variant mdi-16px"></i></a>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div id="home-about-us" class="container-flow maximum-blue-green-text text-bg">
        <div class="row">
          <div class="col s12 m8 ">
            <div class="valign-wrapper" style="height: 34rem;">
              <div class="leyend">
                <h3 class="section-title">ABOUT US</h3>
                <div class="body-text">
                  My team and me have a similar history – for over ten years, we have been individually gaining experience in
                  our fields (events
                  management, communications, graphic design), both in industry and within scientific institutions and
                  universities.
                </div>
                <a class="waves-effect waves-light btn maximum-blue-green hl center-align maximum-blue-green-text text-bg" href="aboutus">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col m4 hide-on-small-only">
            <div class="world"></div>
          </div>
        </div>
      </div>

      <div id="home-what-we-do" class="container-flow maximum-blue-green bg">
        <div class="row">
          <div class="col s12 m12">
            <div class="section center-align maximum-blue-green-text text-base">
              <h3 class="section-title">CONSULTANCY & PACKAGES</h3>
              <div class="body-text">
                Apart from event management we offer consultancy in science communications and digital marketing. Improve your scientific PR and communication and digital marketing.
              </div>              
              <div class="left-align list">
                <ul>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Event management across Europe
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Communications / Marketing / PR
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Printed and online materials (Book of abstracts, posters, newsletters)
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Website with scientific content
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Graphic design
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Mobile applications for conferences and workshops
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <div class="list-triangle"></div>
                      <div class="list-text">
                        Audio and video streaming
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="waves-effect waves-light btn maximum-blue-green hl maximum-blue-green-text text-bg" target="_blank" href="/assets/files/packages.pdf">Packages  <i class="mdi mdi-book-open-page-variant mdi-16px"></i></a>
              <h5>Knowledge of EU grants guaranteed</h5>
            </div>
          </div>
          <!-- <div class="col s12 m2">
            <div class="light-bulb"></div>
          </div> -->
        </div>
        
      </div>
  
    </div>

    <div class="container-flow maximum-blue-green-text text-bg">
      <div id="contact-section">
        {% include contact.html %}
      </div>
    </div>

  </main>

  {% include footer.html %}

  {% include script.html %}
</body>

</html>
