<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
  <div class="navbar-fixed">
    <nav role="navigation" class="z-depth-3">
      <div class="nav-wrapper main-menu">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
          <img src="{{ site.baseurl }}/assets/images/logos/logo_web.png" alt="brand-logo">
        </a>
        {% assign default_paths = site.mainpages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

        <ul class="right hide-on-med-and-down grey-text text-darken-3">
          <!-- <li><a href="{{ "/" | relative_url }}">Home</a></li> -->
          <li><a href="/services">Event management</a></li>
          <li><a href="/addservices">Additional services</a></li>
          <li><a href="/v/#/events">Our work</a></li>
          <li><a href="/references">Clients</a></li>
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="{{ "/" | relative_url }}">Home </a></li>
          <li><a href="/services">Event management</a></li>
          <li><a href="/addservices">Additional services</a></li>
          <li><a href="/v/#/events">Our work</a></li>
          <li><a href="/references">References</a></li>
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contact">Contact</a></li>     
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <main id="landing-page">
    <div class="no-pad-bot" id="index-banner">
      <div class="container-flow">
        <div id="slider-home" class="slider">
          <ul class="slides">
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide1.jpg">
              <div class="caption left-align">
                <h3 class="title">EVENTS FOR SCIENCE</h3>
              </div>
            </li>
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide2.jpg">
              <div class="caption left-align">
                <h3 class="title">Event Management for different sizes and kinds of events across Europe</h3>
                <h5>PR & Marketing for researchers.</h5>
              </div>
            </li>
            <li>
              <img src="{{baseurl}}/assets/images/slider/slide3.jpg">
              <div class="caption left-align">
                <h3 class="title">Digital Marketing and services</h3>
                <h5>Design and development of digital applications.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-flow maximum-blue-green base">
      
      <div id="home-services" class="container-flow maximum-blue-green bg">
        <div class="container maximum-blue-green-text text-base">
          <div class="section center-align">
            <h3 class="section-title">EVENT MANAGEMENT</h3>
            <!-- <h4>Focus on scientific research and development.</h4> -->
            <div class="body-text">We are not interested in birthday parties and incentive meetings. We organise high-level scientific
              events, such
              as conferences, workshops, seminars, hackathons or colloquia. Our clients are:</div>
            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/science.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Senior researchers (PIs or Group Leaders) who organise conferences for research
                    projects</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/building.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Institutions applying for hosting large international conferences</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/finance.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Researchers with an idea for a new event but with limited funding</div>
                </div>
              </div>
            </div>
            <h4>Compliance with <strong>EU Grants</strong> Rules Guaranteed.</h4>
            <p>We cover the full event life-cycle; from strategic planning through on-site delivery and evaluation.</p>
            <div class="actions">
              <div class="row center-align">
                <div class="col s12 m12">
                  <a class="waves-effect waves-light btn-large z-depth-4" href="services">Learn more about our service</a>
                </div>
                <div class="col s12 m12">
                  <a class="waves-effect waves-light btn z-depth-4" target="_blank" href="https://issuu.com/scientifika/docs/210x210_brozura_en">Brochure  <i class="mdi mdi-book-open-page-variant mdi-16px"></i></a>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div id="home-about-us" class="container maximum-blue-green-text text-bg">
        <div class="valign-wrapper center-align">
          <div class="leyend">
            <h3 class="section-title">ABOUT US</h3>
            <div class="body-text">
              Our team members have a similar history – for over ten years, we have been individually gaining experience in
              our fields (events
              management, communications, graphic design), both in industry and within scientific institutions and
              universities.
            </div>
            <a class="waves-effect waves-light btn z-depth-4" href="aboutus">Learn more</a>
          </div>
        </div>
      </div>

      <div id="home-what-we-do" class="container-flow maximum-blue-green bg">
        <div class="container">
          <div class="section center-align">
            <h3 class="section-title">Additional services</h3>
            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/comm.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Communication materials, email marketing, social media management, content creation, print publication production</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/design.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Logos and visual identity, design for print and online publications (event agenda, badges, book of abstracts, website</div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="icon-block center-align">
                  <div class="icon">
                    <img src="{{ "/assets/images/home/marketing.png" | relative_url }}" alt="">
                  </div>
                  <div class="icon-leyend">Website with scientific content, mobile applications</div>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="center-align">
                <a class="waves-effect waves-light btn z-depth-4" href="/addservices">More information <i class="mdi mdi-information-variant mdi-16px"></i></a>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div class="container-flow hide-on-med-and-down">
        {% assign testimonials = site.testimonials %}
        <div class="testimonials-carousel">
          {% for testimonial in testimonials %}
          <div class="carousel-cell">
            <div class="testimonial maximum-blue-green-text text-bg">
              <span class="quote-open"><i class="mdi mdi-format-quote-open mdi-36px"></i></span>
              <span class="testimonial-quote">{{testimonial.testimony}}</span>
              <span class="quote-close"><i class="mdi mdi-format-quote-close mdi-36px"></i></span>
              <span class="testimonial-author">{{testimonial.person}}, {{testimonial.title}}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>      

      <div class="container-flow maximum-blue-green-text text-bg">
        <div id="contact-section">
          {% include contact.html %}
        </div>
      </div>      
    </div>
    
  </main>

  {% include footer.html %}

  {% include script.html %}
</body>

</html>
